<!-- <header id="header"> -->
    <div class="toolbar" role="banner">
        <h2 style="margin: 2rem;">Contact:</h2>
        <ul>
            <li><a class="pi pi-linkedin" href="https://www.linkedin.com/in/daniel-aron-dayton/"> linkedin.com/in/daniel-aron-dayton</a></li>
            <li><a class="pi pi-at" href="mailto:danielarondayton@gmail.com"> DanielAronDayton@gmail.com</a></li>
            <li><a class="pi pi-phone" href="tel:8168442119"> (816) 844-2119</a></li>
        </ul>
        <div class="spacer"></div>
  </div>
<!-- </header> -->