<body>
    <h1> Daniel Aron Dayton </h1>
    <p> <a href="http://www.danielarondayton.info">www.DanielAronDayton.info</a> | <a href="https://www.linkedin.com/in/daniel-aron-dayton">www.linkedin.com/in/daniel-aron-dayton</a> </p>
    <p> (816) 844-2119 | DanielAronDayton@gmail.com | dadc5f@umsystem.edu </p>

    <div class="column" style="float:left;">

        <h2>Summary</h2>
        <p style="padding-left: 5%;">Computer science / computer engineering student seeking a full-time software development or software engineering position, starting in the summer or fall of 2023.</p>

        <h2>Technical Skills</h2>
        <div class="section">
            <h3>Programming Languages:</h3>
            <ul>
                <li>Highly proficient with Python, C, C++, and C#</li>
                <li>Some experience with Assembly (x64-86 and others), SQL, HTML (using Angular and PrimeNG), CSS, Java, Javascript, Typescript, and Rust</li>
            </ul>

            <h3>Operating Systems:</h3>
            <ul>
                <li>Windows Vista, XP, 7, 8, 8.1, 10, and 11</li>
                <li>Various Linux distributions (UI and command-line)</li>
                <li>Mac OSX</li>
            </ul>

            <h3>Software:</h3>
            <ul>
                <li>Virtual Machines including Hyper-V, Oracle Virtualbox, and QEMU</li>
                <li>Preferred IDE is Visual Studio, but also experienced with Notepad++, VS Code, Microchip Studio, KDevelop, QT Creator, Emacs, and Vim</li>
                <li>Microsoft Office 365 and Google Drive products</li>
            </ul>

            <h3>Workflow:</h3>
            <ul>
                <li>Azure Dev Ops (ADO), Jira, Trello, and using sticky notes to a similar end</li>
                <li>Waterfall and Agile development</li>
                <li>SCRUM development using one-week and two-week sprints</li>
            </ul>

            <h3>Other:</h3>
            <ul>
                <li>Setting up physical workstations, including hardware, OS, and other software</li>
                <li>Using Angular to develop and modify webpages</li>
                <li>Using MJML and Sendgrid to develop automated transactional email templates</li>
            </ul>
        </div>

    </div>
    <div class="column" style="float:right;">

        <h2>Education</h2>
        <div class="section">
            <p>Cumulative GPA: 3.47</p>

            <h3>Bachelor's in Computer Science (in progress)</h3>
            <ul>
                <li>Missouri University of Science and Technology (Mo S&T)</li>
                <li>Expected graduation: May 2023</li>
            </ul>

            <h3>Minor in Computer Engineering (in progress)</h3>
            <ul>
                <li>Missouri University of Science and Technology (Mo S&T)</li>
                <li>Expected graduation: May 2023</li>
            </ul>

            <h3>Associates in Computer Science</h3>
            <ul>
                <li>Metropolitan Community College Kansas City (MCCKC)</li>
                <li>Graduation date: Summer 2020</li>
            </ul>
            <h3>CompTIA IT Fundamentals Certification</h3>
            <ul>
                <li>Metropolitan Community College Kansas City (MCCKC)</li>
                <li>Certification date: Fall 2018</li>
            </ul>
        </div>

        <h2>Work Experience</h2>
        <div class="section">
            <h3>J.B. Hunt</h3>
            <ul>
                <li>Position: Software Engineering Intern</li>
                <li>Dates: June 6 2022 - present</li>
                <li>Worked on three different teams. Responsibilities included front-end, back-end, and creation of meta-programming tools to increase productivity</li>
            </ul>

            <h3>Missouri University of Science and Technology</h3>
            <ul>
                <li>Position: Desktop Infrastructure Assistant</li>
                <li>Dates: November 20 2020 - August 26 2022</li>
                <li>Reason for leaving: New semester starting</li>
                <li>Responsibilites included packaging and testing applications with a team so they can be run virtually by students and staff</li>
            </ul>
        </div>

    </div>

</body>